@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1A0B2E;
  color: white;
  overflow-x: hidden;
}

/* Shared Styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, rgb(247, 232, 63), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border: none;
  padding: 12px 16px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  gap: 5px;
  transition: all 0.25s ease;
}
.btn img{
  width: 18px;
  height: 18px;
}
.btn:hover{
  transform: translateY(-1px);
  box-shadow: 0 0 10px rgba(251, 9, 180, 1);
}
.btn2{
  font-size: 1rem;
  font-weight: 600;  
  padding: 5px 20px;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: 1px solid #00ff9d;
  color: #00ff9d;
  transition: all 0.3s ease;
}
.btn2:hover{
  background-color: #00ff9d;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 255, 157, 0.6);
  transform: translateY(-2px);
}
.btn2:hover img{
  filter: brightness(0);
}

/* Main Styles */
/* Navbar Styles Start */
nav{
  display: flex;
  padding: 24px 200px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1A0B2E;
}
nav a{
  text-decoration: none;
}

/* Logo Styles */
.logo{
  color: white;
  font-size: 2rem;
}
.logo span{
  background: linear-gradient(15deg, rgba(247, 232, 63, 0.963), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav li{
  list-style: none;
}
nav li a{
  text-decoration: none;
}
.nav-links{
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.nav-links a{
  color: white;

}

/* Navbar Styles End */

/* Hero Section Start */

.container {
  margin: 0 auto;
  padding: 0 20px;
}
#hero-section{
  position: relative;
  padding: 60px 0 100px;
  text-align: center;
  overflow: hidden;
}
.hero-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-bg-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-circle-wrapper{
  position: relative;
  margin: 70px auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
}
.hero-circle{
  width: 600px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.circle-mic{
  position: absolute;
  width: 110px;
  z-index: 3;
}
.new-badge{
  position: absolute;
  top: 25px;
  right: 40px;
  background: #00ff9d;
  color: #000;
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  z-index: 4;
}

.hero-title{
  font-size: 4rem;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 16px;
}
.hero-para{
  font-size: 1.125rem;
  color: #b0a8b9;
  max-width: 700px;
  margin: 0 auto 30px;
}
.hero-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.hero-buttons a{
  text-decoration: none;
}

/* Hero Section End */

/* About Section Start */

#about{
  margin: 0px 200px 80px;
  padding: 80px 0;
  text-align: center;
}
.about-header{
  max-width: 800px;
  margin: 0 auto 60px;
}
.about-header h1{
  font-size: 3rem;
  margin-bottom: 24px;
}
.about-header p{
  font-size: 1rem;
  color: #b0a8b9;
  margin-bottom: 16px;
  line-height: 2.2;
}
.stats-container{
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.stat-item h1{
  margin-bottom: 16px;
  color: #00FF88;
}
.stat-item span{
  color: #00FF88;
}
.stat-item p{
  font-size: 1rem;
  color: #b0a8b9;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* About Section End */