@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1A0B2E;
  color: white;
  overflow-x: hidden;
}

/* Shared Styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, rgb(247, 232, 63), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border: none;
  padding: 12px 16px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  gap: 5px;
  transition: all 0.25s ease;
}
.btn img{
  width: 18px;
  height: 18px;
}
.btn:hover{
  transform: translateY(-1px);
  box-shadow: 0 0 10px rgba(251, 9, 180, 1);
}
.btn2{
  font-size: 1rem;
  font-weight: 600;  
  padding: 5px 20px;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: 1px solid #00ff9d;
  color: #00ff9d;
  transition: all 0.3s ease;
}
.btn2:hover{
  background-color: #00ff9d;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 255, 157, 0.6);
  transform: translateY(-2px);
}
.btn2:hover img{
  filter: brightness(0);
}

/* Main Styles */
/* Navbar Styles Start */
nav{
  display: flex;
  padding: 24px 200px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1A0B2E;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
nav a{
  text-decoration: none;
}

/* Logo Styles */
.logo{
  color: white;
  font-size: 2rem;
}
.logo span{
  background: linear-gradient(15deg, rgba(247, 232, 63, 0.963), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav li{
  list-style: none;
}
nav li a{
  text-decoration: none;
}
.nav-links{
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.nav-links a{
  color: white;

}

.nav-toggle{
  display: none;
}
.nav-toggle-label{
  display: none;
  cursor: pointer;
}

/* Navbar Styles End */

/* Hero Section Start */

.container {
  margin: 0 auto;
  padding: 0 20px;
}
#hero-section{
  position: relative;
  padding: 60px 0 100px;
  text-align: center;
  overflow: hidden;
}
.hero-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-bg-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-circle-wrapper{
  position: relative;
  margin: 70px auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
}
.hero-circle{
  width: 600px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.circle-mic{
  position: absolute;
  width: 110px;
  z-index: 3;
}
.new-badge{
  position: absolute;
  top: 25px;
  right: 40px;
  background: #00ff9d;
  color: #000;
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  z-index: 4;
}
.new-badge {
  animation: pulseBadge 1.8s infinite;
  box-shadow: 0 0 10px rgba(0, 255, 157, 0.6);
}

@keyframes pulseBadge {
  0% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(0, 255, 157, 0.5);
  }
  50% {
    transform: scale(1.08);
    box-shadow: 0 0 18px rgba(0, 255, 157, 0.9);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(0, 255, 157, 0.5);
  }
}

.hero-title{
  font-size: 4rem;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 16px;
}
.hero-para{
  font-size: 1.125rem;
  color: #b0a8b9;
  max-width: 700px;
  margin: 0 auto 30px;
}
.hero-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.hero-buttons a{
  text-decoration: none;
}

/* Hero Section End */

/* About Section Start */

#about{
  margin: 0px 200px 80px;
  padding: 80px 0;
  text-align: center;
}
.about-header{
  max-width: 800px;
  margin: 0 auto 60px;
}
.about-header h2{
  font-size: 2.25rem;
  margin-bottom: 24px;
}
.about-header p{
  font-size: 1rem;
  color: #b0a8b9;
  margin-bottom: 16px;
  line-height: 2.2;
}
.stats-container{
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.stat-item h1{
  font-size: 2.8rem;
  margin-bottom: 16px;
  color: #00FF88;
}
.stat-item span{
  color: #00FF88;
}
.stat-item p{
  font-size: 1rem;
  color: #b0a8b9;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* About Section End */

/* Choose Section Start */
#choose-section{
  padding: 120px 200px;
  background-color: rgba(35, 14, 61, 1);
}
#choose-section .container{
  max-width: 1200px;
}
.container h2{
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 40px;
}
/* Card Grid */
.feature-card{
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(53, 17, 101, 0.4);
  border: 1px solid rgba(53, 17, 101, 0.4);
  transition: transform 0.3s;
}
.feature-card:hover{
  transform: translateY(-5px);
  border-color: #ff00ff;
}
.icon{
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.feature-card h3{
  font-size: 1.25rem;
  margin-bottom: 12px;
}
.feature-card p{
  font-size: 14px;
  color:#b0a8b9;
}


@media screen and (min-width: 993px) {
  .features-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    grid-template-areas: 
      "tall-card wide-card wide-card"
      "tall-card wide-card2 wide-card2"
      "wide-card3 wide-card3 small-card";
  }
  .feature-card:nth-child(1){
    grid-area: tall-card;
  }
  .feature-card:nth-child(2){
    grid-area: wide-card;
  }
  .feature-card:nth-child(3){
    grid-area: wide-card2;
  }
  .feature-card:nth-child(4){
    grid-area: wide-card3;
  }
  .feature-card:nth-child(5){
    grid-area: small-card;
  }

  .feature-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
/* Choose Section End */

/* Featured section Start */
#featured{
  padding: 88px 0;
  margin: 0 88px;
}
#featured h2{
  font-size: 2.25rem;
  margin-bottom: 40px;
  text-align: center;
}
.episodes-grid{
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.episode-card{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(37, 13, 68, 1);
  border-radius: 20px;
  overflow: hidden;
}
.episode-card:hover{
  transform: translateY(-5px);
}
.episode-content{
  padding: 20px;
}
.episode-content h3{
  font-size: 18px;
  margin-bottom: 10px;
}
.episode-content p{
  font-size: 14px;
  color: #b0a8b9;
  margin-bottom: 15px;
}
.episode-content span{
  color: #00FF88;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
/* Featured section End */

/* Host Section Start */
#host{
  max-width: 1200px;
  padding: 40px 80px;
  margin: 0 auto;
}
#host h2{
  text-align: center;
  margin-bottom: 24px;
  font-size: 2.25rem;
}
.host-container{
  display: flex;
  align-items: center;
  gap: 30px;
  background: rgba(37, 13, 68, 1);
  padding: 40px;
  border-radius: 40px;
}
.host-image-wrapper{
  flex: 0 0 200px;
  overflow: hidden;
}
.host-info{
  flex: 1;
}
.host-info h3{
  font-size: 1.5rem;
  margin-bottom: 16px;
}
.host-info p{
  color: #b0a8b9;
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 24px;
}
.social-icons{
  display: flex;
  gap: 15px;
}
.social-icons a{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(165, 165, 165, 0.42);
  transition: all 0.3s ease;
}
.social-icons a img{
  width: 20px;
  transition: all 0.3s ease;
}
.social-icons a:hover{
  background: linear-gradient(15deg, #f7e83f, #fb09b4, #9100f8);
  border-color: transparent;
  box-shadow: 0 0 15px rgba(251, 9, 180, 0.6);
  transform: translateY(-3px) scale(1.05);
}
.social-icons a:hover img{
  filter: brightness(0) invert(1);
}

/* Host Section End */

/* Footer Section Start */
footer{
  position: relative;
  padding: 50px 0 20px;
  text-align: center;
  margin-top: 50px;
}
footer a{
  text-decoration: none;
}
.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 30px;
}
.footer-content .logo{
  font-size: 4rem;
  margin: 0;
}
.footer-bg{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.footer-bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-socials{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.social-link{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #b0a8b9;
  font-size: 0.875rem;
  cursor: pointer;
}
.social-link:hover{
  color: white;
}
.social-link img{
  width: 20px;
}
.copyright{
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4);
}
/* Footer Section End */


/* Media Query For Low End Devices */
@media screen and (max-width: 576px) {

  #hero-section,
  #about,
  #choose-section,
  #featured,
  #host{
    margin: 0 !important;
    padding: 40px 20px;
  }
  
  .container{
    padding: 0 20px;
  }
  header{
    padding: 15px 20px;
  }
  .logo{
    font-size: 2.25rem;
  }
  nav{ 
    padding: 0px 20px 20px;
    
  }
  nav .btn{
    display: none;
  }
  .nav-links{
    display: none;
    position: absolute;
    flex-direction: column;
  }
  .nav-toggle-label{
    display: block;
    width: 24px;
  }
  .nav-toggle-label img{
    width: 100%;
  }
  .hero-circle{
    max-width: 300px;
  }
  .hero-circle .circle-mic{
    max-width: 90px;
  }
  .hero-buttons{
    flex-wrap: wrap;
  }
  .hero-para{
    font-size: 1.25rem;
  }
  .btn, .btn2{
    font-size: 1.25rem;
  }
  #about{
    margin-top: 10px;
  }
  #about p{
    font-size: 1.25rem;
    line-height: 30px;
  }
  .stats-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .container h2{
    margin-bottom: 20px;
  }

  .features-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .feature-card{
    margin-bottom: 0;
    grid-area: auto !important;
  }
  .feature-card h3{
    font-size: 1.8rem;
  }
  .feature-card p{
    font-size: 1.25rem;
  }

  .episode-content p{
    font-size: 1.25rem;
  }
  .episodes-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .episode-card{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .video-container{
    width: 100%;
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  .video-container iframe{
    width: 100%;
    height: 100%;
    border: 0;
  }

  #host{
    padding: 40px 20px;
  }
  #host h2{
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .host-container{
    flex-direction: column;
    text-align: center;
    padding: 24px;
    gap: 24px;
  }
  .host-image-wrapper{
    flex: none;
    width: 180px;
    margin: 0 auto;
  }
  .host-img{
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .host-info h3{
    font-size: 1.4rem;
  }
  .host-info p{
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .social-icons{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
  }

  footer{
    padding: 40px 0px 10px;
  }
  .footer-content{
    gap: 20px;
  }
  .footer-content .logo{
    font-size: 4rem;
  }
  .footer-socials{
    max-width: 300px;
    gap: 16px;
  }
  .social-link{
    font-size: 1rem;
  }
  .social-link img{
    width: 18px;
  }
  .copyright{
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .footer-bg img{
    object-position: center;
  }
}