@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, rgb(247, 232, 63), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border: none;
  padding: 12px 16px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  gap: 5px;
  transition: all 0.25s ease;
}
.btn img{
  width: 18px;
  height: 18px;
}
.btn:hover{
  transform: translateY(-1px);
  box-shadow: 0 0 10px rgba(251, 9, 180, 1);
}

/* Main Styles */
/* Navbar Styles Start */
nav{
  display: flex;
  padding: 24px 200px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1A0B2E;
}
nav a{
  text-decoration: none;
}

/* Logo Styles */
.logo{
  color: white;
  /* -webkit-text-stroke: 0.4px black; */
}
.logo span{
  background: linear-gradient(15deg, rgba(247, 232, 63, 0.963), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav li{
  list-style: none;
}
nav li a{
  text-decoration: none;
}
.nav-links{
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.nav-links a{
  color: white;

}

/* Navbar Styles End */
